<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Dates </title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <nav class="navbar navbar-light bg-light" style="box-shadow: 2px 3px 7px rgb(223, 223, 223)">
        <a class="navbar-brand" href="{{ url_for('app.index') }}">
            Date Generation
        </a>
        <p class="navbar-text navbar-right text-muted" style="margin-right: auto;padding-right: 10px;">
            Created by: <a href="https://github.com/hopeswiller" _target="blank">David Boateng Adams</a>
        </p>

    </nav>

    <!-- Generate for single date -->
    <div class="container"
        style="margin-bottom:30px; border:1px solid whitesmoke; padding: 15px 15px;box-shadow: 2px 5px 10px rgb(223, 223, 223)">

        <h4 class="text-muted">Expiry Date Generation for Single Date</h4>

        <form action="" method="POST">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <label for="production_date">Select Production Date</label>
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' name="production_date" id="production_date" class="form-control"
                                required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <small class="form-text text-muted">Format is MM/DD/YYYY</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Generated Expiry Date</label>
                        {% if context %}
                        <input type="text" class="form-control" name="expiry_date" readonly
                            value={{ context.shortdate }}>
                        {% else %}
                        <input type="text" class="form-control" name="expiry_date" readonly>
                        {% endif %}
                        <small class="form-text text-muted">Date is calculated with an of interval 18 months
                            period</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="type" value="single" checked>
                        <label class="form-check-label" for="single">Single</label>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-check">
                        {% if context %}
                        <span class="text-muted">Production Date : {{ context.prod_date }}</span>
                        <br>
                        <span class="text-muted">Expiration Date : {{ context.longdate }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success" id="" value="Generate">
                    </div>
                </div>
            </div>
        </form>

    </div>


    <!-- Generate for date range -->
    <div class="container"
        style="border:1px solid whitesmoke; padding: 15px 15px;box-shadow: 2px 5px 10px rgb(223, 223, 223)">

        <h4 class="text-muted">Expiry Date Generation for Date Range</h4>

        <form action="" method="POST">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <div class='input-group date' id='startdatepicker'>
                            <input type='text' name="start_date" id="start_date" class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <small class="form-text text-muted">Format is MM/DD/YYYY</small>
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <div class='input-group date' id='enddatepicker'>
                            <input type='text' name="end_date" id="end_date" class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <small class="form-text text-muted">Format is MM/DD/YYYY</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="type" value="multi" checked>
                        <label class="form-check-label" for="multi">Multi</label>
                    </div>
                </div>
                <div class="col-md-2">
                    {% if context.showbtn %}
                    <div class="form-group">
                        <a href="{{ url_for('app.download') }}" class="btn btn-primary form-control">Download PDF</a>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" class="form-control btn btn-success" id="" value="Generate">
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript">
        const options = {
            defaultDate: new Date(),
            format: 'L'
        }
        $(function () {
            $('#datetimepicker').datetimepicker(options);
            $('#startdatepicker').datetimepicker(options);
            $('#enddatepicker').datetimepicker({format: 'L'});
        });
    </script>
</body>

</html>